
/target/
/out/
workspace.xml
src/test/
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
!/.idea/
!/.idea/vcs.xml
!/.idea/$CACHE_FILE$
!/.idea/keiwen_git.iml
!/.idea/workspace.xml
!/.idea/
!/.idea/uiDesigner.xml
!/.idea/misc.xml
!/.idea/modules.xml
!/.idea/compiler.xml
